@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .border-color {
        border: 2px solid transparent;
        border-image: linear-gradient(
            241.87deg,
            rgb(76, 81, 159) 13.55%,
            rgb(120, 91, 185) 29.94%,
            rgb(104, 51, 138) 50.54%,
            rgb(189, 70, 139) 79.56%,
            rgb(247, 5, 63) 103.43%
        );
        border-image-slice: 1;
    }
}

.red {
    fill: red;
}
